
<style>
.header-licenses-foto {
    display: flex;
    padding: 0 10px 0 0;
}

.header-licenses-foto a {
    display: flex;
}

.header-licenses-foto img {
    padding: 0 3px;
    margin: 13px 0px;
}





@media (max-width:768px) {

    .reviews-content {
        display: grid;
    }

    .header-licenses-foto img {
        margin: 10px 3px;
    }

    .reviews-header p {
        padding: 10px 10px 5px 10px;
    }
} */
</style>

<div class="reviews reviews-header">
  <div class="reviews-content">
    <p>
      <a href="/reviews-page/" title="reviews">
        Reviews ⭐⭐⭐⭐⭐ 5.0 (Google Rating) (Thumbtack Rating)
      </a>
    </p>
    
    <div class="header-licenses-foto">
      <div>
        <a href="/credentials/bbb-accredited-appliance-repair/" target="_blank" title="BBB accredited appliance repai"><img
          src="/credentials/bbb-accredited-appliance-repair.webp"
          width="217px"
          height="80px"
          alt="BBB accredited appliance repair"
        /></a>
      </div>
      <div>
        <a href="/credentials/licensed-appliance-repair/" target="_blank" title="Licences Appliance Repair"><img
          src="/credentials/licensed-appliance-repair.webp"
          width="130px"
          height="90px"
          alt="Licences Appliance Repair"
        /></a>
      </div>
      
      <div>
        <a href="/credentials/insured-appliance-repair/" target="_blank" title="Insured Appliance Repair Company"><img
          src="/credentials/insured-appliance-repair.webp"
          width="112px"
          height="90px"
          alt="Insured Appliance Repair Company"
        /></a>
      </div>
      <div>
        <a href="/credentials/epa-certified-appliance-repair/" target="_blank" title="EPA Certified Appliance Repair Company"><img
          src="/credentials/epa-certified-appliance-repair.webp"
          width="165"
          height="90"
          alt="EPA Certified Appliance Repair Company"
        /></a>
      </div>
      <div>
        <a href="/credentials/osha-certified-appliance-repair/" target="_blank" title="Osha Certified Appliance Repair Company"><img
          src="/credentials/osha-certified-appliance-repair.webp"
          width="98px"
          height="90px"
          alt="Osha Certified Appliance Repair Company"
        /></a>
      </div>
      <div>
        <a href="/credentials/background-checked-appliance-repair/" target="_blank" title="Background Checked Appliance Repair Company"><img
          src="/credentials/background-checked-technicians.webp"
          width="98px"
          height="90px"
          alt="Background Checked Appliance Repair Company"
        /></a>
      </div>
      </div>
</div></div>